<form method="POST" action="<%= url %>?_method=DELETE">
    <button class="bg-red-600 text-slate-100 py-2 px-4 text-sm" type="submit">Delete</button>
    <%- include("../partials/messages.ejs") %>
</form>