<header class="fixed w-full h-[80px] bg-slate-900 text-slate-100 flex pr-5 pl-5 items-center justify-between">
  <a href="/">Mascots App</a>
  <ul class="flex gap-5">
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
</header>
