<header class="fixed w-full h-[80px] bg-slate-900 text-slate-100 flex flex-wrap pr-5 pl-5 items-center justify-between">
  <a href="/dashboard">Dashboard</a>
  <ul class="flex gap-5">
    <li><a href="/collaborators"><iconify-icon icon="icon-park-solid:people"></iconify-icon></a></li>
    <li><a href="/collaborators/new">Add Collaborator</a></li>
    <li><a href="/mascots"><iconify-icon icon="ion:paw"></iconify-icon></a></li>
    <li><a href="/mascots/new">Add mascot</a></li>
    <li><a href="/logout"><iconify-icon icon="tabler:logout"></iconify-icon></a></li>
  </ul>
</header>
