
  <header class="fixed w-full h-[80px] bg-slate-900 text-slate-100 flex justify-between pr-5 pl-5 items-center">
    <nav class="flex space-x-32">
      <span>Mascots of our colleagues</span>
       
      <ul class="flex gap-5">
        <li><a href="/collaborators">Collaborators</a></li>
        <li><a href="/collaborators/new">Add Collaborator</a></li>
        <li><a href="/mascots">Mascots</a></li>
        <li><a href="/mascots/new">Add Mascot</a></li>
        <li><a href="/">Logout</a></li>
      </ul>


      <ul class="flex gap-5">
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
     
     
    </nav>
  </header>



