<header class="fixed w-full h-[80px] bg-slate-900 text-slate-100 flex pr-5 pl-5 items-center justify-between">
  <a href="/dashboard">Dashboard</a>
  <ul class="flex gap-5">
    <li><a href="/collaborators">Collaborators</a></li>
    <li><a href="/collaborators/new">Add Collaborator</a></li>
    <li><a href="/mascots">Mascots</a></li>
    <li><a href="/mascots/new">Add Mascot</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</header>
