<header>
  <nav>
    <a href="/">Mascots of our colleagues</a>
    <ul>
      <li><a href="/collaborators">Collaborators</a></li>
      <li><a href="/collaborators/new">Add Collaborator</a></li>
    </ul>
  </nav>
</header>
