<% if (typeof errors != 'undefined') { %>
    <% errors.forEach((error) => { %>
        <div class="top-24 right-20 text-red-600">
            <%= error.msg %>
        </div>
    <% }) %>
<% } %>

<% if (success_msg != '') { %>
    <div class="top-24 right-20 text-green-600">
        <%= success_msg %>
    </div>
<% } %>

<% if (error_msg != '') { %>
    <div class="top-24 right-20 text-red-600">
        <%= error_msg %>
    </div>
<% } %>

<% if (error != '') { %>
    <div class="top-24 right-20 text-red-600">
        <%= error %>
    </div>
<% } %>