<!-- <h2>Recently Added</h2>
<div>
  <% mascots.forEach(mascot => { %>
  <div><%= mascot.name %></div>
  <img height="150" width="150" src="<%= mascot.imagePath %>" />
  <% }) %>
</div> -->

<div>
    <h1>Mascots of our colleagues</h1>
    <p>Free app made with nodejs, ejs, mongodb & much love</p>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
</div>