<h2 class="pt-36">New Mascot</h2>
<form action="/mascots" method="POST" enctype="multipart/form-data">
  <%- include('_form_fields') %>
  <a href="/mascots">Cancel</a>
  <button type="submit">Create</button>
</form>
