<h2 class="pt-36">Edit Collaborator</h2>
<form action="/collaborators/<%= collaborator.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <a href="/collaborators/<%= collaborator.id %>">Cancel</a>
  <button type="submit">Update</button>
</form>
