<h2 class="pt-36">New Collaborator</h2>
<%- include("../partials/messages.ejs") %>
<form action="/collaborators" method="POST">
  <%- include('_form_fields') %>
  <a href="/collaborators">Cancel</a>
  <button type="submit">Create</button>
</form>
